@import 'post-card.less';

img {
	max-width: 100%;
	height: auto;
}

.x-panel {
	display: flex;
	flex-direction: column;

	.head {
		display: flex;
    line-height: 0;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
	}

	.logo {
		display: inline-block;
		line-height: 0;
		max-width: 60%;
	}

	.title {
		font-size: 18px;
		color: @black;
		margin-bottom: 10px;
		margin-right: 10px;
	}
}

.x-panel {
	> .cards-container {
		overflow: auto;

		margin-left: -20px;
		margin-right: -20px;

		padding: 2px 20px 2px 20px;

		> .x-post-card {
			&:not(:first-child) {
				margin-top: 10px;
			}
		}
	}
}

.layout {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10000;
	cursor: pointer;
	animation: hide-layout 2s forwards;
}

.layout img {
	margin-bottom: 20px;
}

.layout__inner {
	display: flex;
	flex-direction: column;
}

input[type="radio"] {
	display: none;
}


.progress-bar {
	width: 500px;
	height: 3px;
	position: relative;
}

.progress-bar:before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0;
	animation: progress 2s ease-in-out forwards;
	background: #8849c9;
}

@keyframes progress {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

@keyframes hide-layout {
	0%,
	99% {
		opacity: 1;
		height: 100%;
	}

	100% {
		opacity: 0;
		height: 0;
	}
}
